<ion-view view-title="登录">
  <ion-content>
	  <div class="list list-inset">
		  <label class="item item-input ">
		   <i class="icon ion-person placeholder-icon"></i>
		    <input type="text" ng-model="user.username" placeholder="请输入您的手机号码">
		  </label>
		  <label class="item item-input">
		   	<i class="icon ion-android-lock placeholder-icon"></i>
		    <input type="password" ng-model="user.password" placeholder="请输入6-20位密码">
		  </label>
		 <button class="button button-full button-assertive" ng-click="login(user);">
  			登录
		 </button>
	  </div>
</ion-view>
