<ion-view view-title="我的wifi">
  <ion-content>
   <ion-list>
     <ion-item class="item-remove-animate item-thumbnail-left" type="item-text-wrap" href="#/tab/account/login">
     <img src={{headphoto}}></img>
     <p>{{custCode}}</p>
       <h2>{{custName}}</h2>
     </ion-item>
   </ion-list> 
   </br>

    <ion-list>
      <ion-item class="item item-icon-left ion-social-yen">
      充值中心
      </ion-item>
      <ion-item class="item item-icon-left ion-person">
     	修改个人资料
      </ion-item>
      <ion-item class="item item-icon-left ion-help-circled">
     	常见问题
      </ion-item>
       </br>
       <ion-item class="item item-icon-left ion-wrench">
     	设置
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

